/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

div {
  display: block;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.nav-center {
  width: 1200px;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.icons {
  float: right;
  height: 60px;
  width: 150px;
}

#logo-container{
  position: relative;
  left: 200px;
}

#icon-container{
  position: relative;
  right: 150px; 
}

html {
  scroll-behavior: smooth;
}

.hr {
  display: inline-block;
}

.hr:after {
  content: '';
  display: block;
  border-top: 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.mainBackgroundImage {
  opacity: 0.3; 
  transform: translate3d(-10%, -150px, 0px);
  filter: brightness(50%);
}

#bannerBr{
  content: "";
  margin: 2.5em;
  display: block;
  font-size: 23%;
}

#embeddedGif{
  filter: brightness(55%);
}

#clusterGif{
  filter: brightness(25%);
}

#codeGif{
  filter: brightness(40%);
}

#mobileGif{
  filter: brightness(40%);
}

.modal {
  width: 80% !important ;
  height: 80% !important ; 
}

.mainBanner{
  align-content: center;
  justify-content: center;
}

#profilePic{
  height: 300px;
  width: 300px;
  margin-right: 20px;
  justify-content: center
}

#systemarchitectureImage{
  max-height: 30%;
  max-width: 100%;
}

#internalGifDemos{
  max-height: 100%;
  max-width: 100%;
}